<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dao.BookDao">
    <sql id="baseSql">
        book_id,book_name,book_code,book_price,book_type,book_author,book_publishing_house,book_depreciation,
        book_cover,book_status,book_desc,book_publish_date,create_date,update_date
    </sql>
    <select id="getBookListByBookName" resultType="Book">
      select 
        <include refid="baseSql"/>
      from t_book
      <where>
          <if test="bookName !=null and bookName != ''">
              book_name like concat('%' ,#{bookName}, '%')
              <!--book_name like '%'${bookName}'%'-->
          </if>
      </where>
    </select>

    <insert id="insertBook">
        insert into t_book
          (book_name,book_code,book_price,book_type,book_author,book_publishing_house,book_depreciation,
           book_cover,book_status,book_desc,book_publish_date,create_date,update_date)
          values (#{book.bookName},#{book.bookCode},#{book.bookPrice}, #{book.bookType},#{book.bookAuthor},
                         #{book.bookPublishingHouse},#{book.bookDepreciation},#{book.bookCover},#{book.bookStatus},
                         #{book.bookDesc},#{book.bookPublishDate},sysdate(),sysdate())
    </insert>

    <update id="updateBook">
        update t_book
        <set>
            <if test="book.bookName != null and book.bookName != ''">
                book_name = #{book.bookName},
            </if>
            <if test="book.bookCode != null and book.bookCode != ''">
                book_code = #{book.bookCode},
            </if>
            <if test="book.bookPrice != null and book.bookPrice != ''">
                book_price = #{book.bookPrice},
            </if>
            <if test="book.bookStatus != null and book.bookStatus != ''">
                book_status = #{book.bookStatus},
            </if>
            <if test="book.bookType != null and book.bookType != ''">
                book_tyPE = #{book.bookType},
            </if>
            <if test="book.bookAuthor != null and book.bookAuthor != ''">
                book_author = #{book.bookAuthor},
            </if>
            <if test="book.bookPublishingHouse != null and book.bookPublishingHouse != ''">
                book_publishing_house = #{book.bookPublishingHouse},
            </if>
            <if test="book.bookDepreciation != null and book.bookDepreciation != ''">
                book_depreciation = #{book.bookDepreciation},
            </if>
            <if test="book.bookCover != null and book.bookCover != ''">
                book_cover = #{book.bookCover},
            </if>
            <if test="book.bookDesc != null and book.bookDesc != ''">
                book_desc = #{book.bookDesc},
            </if>
            <if test="book.bookPublishDate != null and book.bookPublishDate != ''">
                book_publish_date = #{book.bookPublishDate},
            </if>
            update_date = sysdate()
        </set>
        where book_id = #{book.bookId}
    </update>
</mapper>